.hero {
    background-image: url(./assets/_DSC0910.JPG);
}




@media (max-width: 768px) {
    body {
        width: 100%;
    }

    .hero h1 {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }


    .footerflex {
        flex-direction: column;
        gap: 1rem;
    }

    .btn {
        margin-bottom: 20px;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .construction {
        width: 100%;
    }
}